<!DOCTYPE html>


<head>
    <title>User Deregistration</title>
    <script src="/javascripts/deregister.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

    <form style="border:1px solid #ccc">
        <div class="container">
            <h1>Deregister</h1>

            <label for="username"><b>Username</b></label>
            <input id="username" type="text" placeholder="Enter Username" name="Username" required>

            <label for="psw"><b>Password</b></label>
            <input id="psw" type="password" placeholder="Enter Password" name="psw" required>

            <label for="email"><b>Email</b></label>
            <input id="email" type="text" placeholder="Enter Email" name="email" required>

            <div class="clearfix">
                <button id="deregister" type="button" onclick="click_deregister()">Confirm deregistration</button>
            </div>

        </div>
    </form>

</body>

</html>