<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Search Box</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/location.css">
    <script src="/javascripts/location.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe2jVX32NlHzhtnG99hfnAf543cU26R_0&libraries=places&callback=init"
        async defer></script>
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
</body>

</html>