<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Reader View</title>
    <script src="/javascripts/reader.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body onload='getMessages()'>
    <h2 align="center">All active message</h2>
    <table id="messages" align="center" class="w3-table w3-striped w3-bordered">
        <tr>
            <td>Message ID</td>
            <td>Publisher Name</td>
            <td>Category Name</td>
            <td>File Path</td>
            <td>Location</td>
            <td>Time to activate</td>
            <td>Time to archive</td>
        </tr>
    </table>
</body>

</html>