<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title> Story Confirmation </title>
    <script>
        function returnToPub() {
            window.location.assign('/publisher');
        }
    </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
    <h2>Your story has been submitted.</h2>
    <button type="button" onclick="returnToPub()">Main menu</button>

</body>

</html>