<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!DOCTYPE html>
<html>

<head>
    <title>Verification confirmation</title>
    <script>
        function goToLogin() {
            window.location.assign('/login');
        }
    </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
    <h1 align="center">Thanks for verifying your email!</h1>
    <button id="login" type="button" onclick="goToLogin()">Log in</button>
</body>

</html>